
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
            color: rgb(255, 255, 255);
            font-family: "Roboto", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100dvh;
            main {
                h1 {
                    font-family: "bungee", serif;
                    font-weight: 400;
                    font-style: normal;
                    font-family: "bungee";
                    font-size: 2.8rem;
                    margin: 0;
                }
                img {
                    border: 6px solid rgb(0, 0, 0);
                    border-radius: 50%;
                    height: 240px;
                    display: flex;
                    margin: 1rem auto;
                    object-fit: cover;
                    width: 240px;
                }
                h4 {
                    text-align: center;
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }
            menu {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
                a:link, a:visited {
                    background-color: rgb(0, 0, 0);
                    color: rgb(255, 255, 255);
                    border-radius: 10rem;
                    padding: 0.4rem;
                    display: flex;
                    text-decoration: none;
                    span {
                        background-color: rgb(141, 85, 173);
                        color: floralwhite;
                        border-radius:50%;                      
                        font-size: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 80px;
                        width: 80px;
                    }
                    h4 {
                        margin: 0;
                        text-align-last: left;
                        text-indent: 0.2rem;
                        width: 225px;
                    }
                small {
                    display: block;
                    font-size: 0.7rem;
                    text-indent: 0.2rem;
                    width: 225px;
                    }
                    transition: transform 0.4s ease-in;
                    &:hover {
                        transform: scale(1.05) translate(12px);
                    }
                }
            }
        }
    